@model EmailTemplating.Models.Template

@{
    ViewBag.Title = "Oops...";
}

<div class="alert alert-danger">
    <strong>Oops!</strong>
    <br />
    This view is left for you to implement!
</div>
